<h1 class="col-start-1 col-end-3 mb-5">Contact Details</h1>

<p class="mb-5"><strong class="text-blue-500">First Name:</strong> <%= @contact.first_name %></p>
<p class="mb-5"><strong class="text-blue-500">Last Name:</strong> <%= @contact.last_name %></p>
<p class="mb-5"><strong class="text-blue-500">Email:</strong> <%= @contact.email %></p>
<p class="mb-5"><strong class="text-blue-500">Phone:</strong> <%= @contact.phone %></p>

<div class="mt-5">  
    <%= link_to 'Back', contacts_path, class: 'btn-secondary' %>
</div>